{% extends admin_base_template %}
{% block head_css %}
{{ super() }}
<!-- TODO later, customize the view. f*ck css -->
<!-- <style>
    .navbar {
        background-color: #17a2b8 !important;
        border-top: none;
        box-shadow: none;
    }

    .navbar-brand {
        color: black !important;
    }

    .navbar-nav>li>.nav-link {
        color: white !important;
    }

    .navbar-nav>.active>.nav-link {
        color: black !important;
    }

    .container {
        max-width: 100vw !important;
        width: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
    }

    .nav-tabs {
        width: 50% !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .table-responsive {
        width: 50% !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
</style> -->
<style>
    .navbar {
        background-color: #17a2b8 !important;
        border-top: none;
        box-shadow: none;
    }

    .navbar-brand {
        color: black !important;
    }

    .navbar-nav>li>.nav-link {
        color: white !important;
    }

    .navbar-nav>.active>.nav-link {
        color: black !important;
    }
</style>
{% endblock %}