<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>EMS</title>
    <link rel="stylesheet" href="../static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/assets/fonts/fontawesome-all.min.css">

</head>
<div style="height: 100vh;background: linear-gradient(rgb(23,162,184) 0%, white 100%);">
    <nav class="navbar navbar-dark navbar-expand-md bg-info">
        <div class="container-fluid"><a class="navbar-brand" href="/">EMS</a><button data-toggle="collapse"
                class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
                    class="navbar-toggler-icon"></span></button>
        </div>
    </nav>

    <body>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-9 col-lg-12 col-xl-10">
                    <div class="card shadow-lg o-hidden border-0 my-5">
                        <div class="card-body p-0">
                            <div class="p-5">
                                <div class="text-center">
                                    <h4 class="text-dark mb-4">Reset my password :D</h4>
                                </div>
                                <form method="post">
                                    <div class="form-group">
                                        <input class="form-control" type="password" placeholder="Your new password"
                                            name="password" required="">
                                    </div>
                                    <input type="hidden" name="token" value="{{token}}">
                                    <button class="btn btn-primary btn-block text-white" type="submit">Save</button>
                                    {% with messages = get_flashed_messages(with_categories=true) %}
                                    {% if messages %}
                                    {% for category, message in messages %}
                                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert"
                                        style="margin-top: 16px;">
                                        <span>{{ message }}</span>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    {% endfor %}
                                    <script>
                                        window.setTimeout(function () {
                                            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                                                $(this).remove();
                                            });
                                        }, 10000);
                                    </script>
                                    {% endif %}
                                    {% endwith %}
                                    <hr>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
<script src="../static/assets/js/jquery.min.js"></script>
<script src="../static/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>